.design-portal-container {
    display: flex;
    /* position: absolute; */
    z-index: 10;
    /* flex-direction: column; */
    /* width: 50px; */
    /* gap: 4rem; */
    /* top: 10rem; */
    /* left: 3rem; */
    padding: 0 2rem 2rem 2rem;
    box-sizing: border-box;
    /* height: 92vh !important; */
    height: 93vh !important;
    gap: 2rem;
    overflow-y: hidden;
}

.design-portal-btn {
    height: 60px;
    width: 60px;
    cursor: pointer;
    filter: invert(1);
    transition: all .1s ease-in-out;
}

.design-portal-btn:hover, .lottery-btn:hover {
    transform: scale(1.1);
}

.lottery-btn {
    height: 65px;
    width: 65px;
    cursor: pointer;    
    transition: all .1s ease-in-out;
}

.checkout-btn-container {
    position: absolute;
    right: 3rem;
    cursor: pointer;
    z-index: 13;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.checkout-btn-container a {
    color: white;
    text-decoration: none;
    font-family: oatmeal-pro-bold;
    transition: .1s all ease-in-out;
    font-size: 25px;
    
}

.checkout-btn-container a:hover {
    color: white;
    text-decoration: none;
    font-family: oatmeal-pro-bold;
    transform: scale(1.1);
}

.genie-lamp-canvas {
    position: absolute;
    z-index: 12;
    bottom: 0;
    width: 100vw;
}

/* .design-portal-container {
    display: flex;

} */

.hoodie_canvas {
    /* width: 70%; */
    /* height: 90%; */
    display: flex;
    flex: 2;
    flex-direction: row;
    /* align-items: center; */
    /* padding: 2rem; */
    box-sizing: border-box;
    gap: 1rem;
    /* background-color: blue; */
    background-color: rgba(255, 255, 255, .3);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.hoodie-canvas-left {
    flex: 3;
    /* align-items: start; */
    height: 100%;
}

.hoodie-scene {
    
    height: 100%;
    /* background-image: linear-gradient(120deg, #16002b, #2d004f, #16002b); */
    background-image: white;
    /* margin-left: 4rem; */
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-container {
    /* position: relative; */
    flex: .75;
    justify-content: start;
    z-index: 16;
    background-color: rgba(255, 255, 255, .3);
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgNCA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yIDIuNUMyLjI3NzEgMi41IDIuNSAyLjI3NzEgMi41IDIgMi4yNzcxIDEuNSAyIDEuNSAxLjcyMjkgMS41IDEuNSAyIDEuNSAyLjI3NzEgMiAyLjUiIGZpbGw9IiMwMDAwMDAiIGZpbGwtb3BhY2l0eT0iMC4wNSIvPjwvc3ZnPg==");
    background-blend-mode: overlay; /* This will blend the noise with the background color */
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}


.prompt-medium-options{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.prompt-medium-options button {
    height: 50px;
    border-radius: 1rem;
    border: 1px solid grey;
    background-color: white;
    font-family: oatmeal-pro-regular;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
}

.edit-button {
    position: absolute;
    right: 0;
    margin: .5rem;
    background-color: #5300FF;
    border-radius: .2rem;
    color: white;
    border: none;
    padding:.3rem;
    font-family: oatmeal-pro-regular;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: .1s ease-in-out all;
}

.edit-button:hover {
    transform: scale(1.1);
}

.product-details-button {
    position: absolute;
    margin-left: 20px !important;
    font-family: oatmeal-pro-regular;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
        border-bottom: 1px solid currentColor;
        padding-bottom: 2px;
        opacity: .7;

    z-index: 100;
    cursor: pointer;
}