.design-portal-container {
    display: flex;
    position: absolute;
    z-index: 10;
    flex-direction: column;
    width: 50px;
    gap: 4rem;
    top: 10rem;
    left: 3rem;
    
}

.design-portal-btn {
    height: 60px;
    width: 60px;
    cursor: pointer;
    filter: invert(1);
    transition: all .1s ease-in-out;
}

.design-portal-btn:hover, .lottery-btn:hover {
    transform: scale(1.1);
}

.lottery-btn {
    height: 65px;
    width: 65px;
    cursor: pointer;    
    transition: all .1s ease-in-out;
}

.checkout-btn-container {
    position: absolute;
    right: 3rem;
    cursor: pointer;
    z-index: 13;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.checkout-btn-container a {
    color: white;
    text-decoration: none;
    font-family: oatmeal-pro-bold;
    transition: .1s all ease-in-out;
    font-size: 25px;
    
}

.checkout-btn-container a:hover {
    color: white;
    text-decoration: none;
    font-family: oatmeal-pro-bold;
    transform: scale(1.1);
}

.genie-lamp-canvas {
    position: absolute;
    z-index: 12;
    bottom: 0;
    width: 100vw;
}