body {
  background-color: #16002b;
  background-image: linear-gradient(120deg, #16002b, #2d004f, #16002b);
  background-size: 200% 200%;
  animation: gradientAnimation 5s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: oatmeal-pro-bold;
  src: url(../public/OatmealProTRIAL-Bold.otf);
}

@font-face {
  font-family: oatmeal-pro-regular;
  src: url(../public/OatmealProTRIAL-Regular.otf);
}

@font-face {
  font-family: oatmeal-pro-thin;
  src: url(../public/OatmealProTRIAL-Light.otf);
}

